<html>

<head>
	<title>Welcome</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/stylesheet.css') }}" type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/header-stylesheet.css') }}" type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/followers-stylesheet.css') }}" type="text/css">
</head>

<body>
	<header>
		<div class="home-logo-div">
			<a href="home"><img src="../static/img/instagram-logo-home-white.png" height=50 /></a>
		</div>
		<div class="header-button-div">
			<div class="profile-name-heading">
				<img src="{{ session['pic_url'] }}" width=50 height=50 />
				<p> {{ session['username'] }} </p>
			</div>
			<div class="profile-name-list">
				<a href="followers"><span class="space-span"></span>Current Followers</a>
				{% if not session['new_user'] %}
				<a href="new-followers"><span class="space-span"></span>New Followers</a>
				<a href="unfollowers"><span class="space-span"></span>Unfollowers</a>
				{% endif %}
				<a href="logout"><span class="space-span"></span>Log out</a>
			</div>
		</div>
	</header>
	<div class="main-content">
		<p>Followers list</p>
		<div class="followers-list">
			<table align="center">
				<thead>
					<tr>
						<th class="username-column">Username</th>
						<th class="name-column">Name</th>
					</tr>
				</thead>
				<tbody>
					{% for x in session['funame'] %}
					<tr class="{{loop.cycle('odd', 'even')}}">
						<td class="username-column">
							{{ x[0] }}
						</td>
						<td class="name-column">
							{{ x[1] }}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

	</div>


</body>

</html>