<html>

<head>
	<title>Welcome</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/home_stylesheet.css') }}" type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/stylesheet.css') }}" type="text/css">
</head>

<body>
	<header>
		<div class="home-logo-div"></div>
		<ul>
			<li><a href="/followers">Followers</a></li>
			<li><a href="/new_followers">New Followers</a></li>
			<li><a href="/unfollowers">Unfollowers</a></li>
		</ul>
	</header>
</body>

</html>