.title-div {
	height: 200px;
	margin-top: 50px;
	min-width: 700px;
}

.profile-picture-div {
	float: left;
	margin-left: 100px;
	padding-bottom: 20px;
	border-bottom: 2px solid #fff;
}

.profile-picture-div img {
	border-radius: 100px;
}

.profile-name-div {
	float: left;
	padding-left: 20px;
	padding-bottom: 20px;
	border-bottom: 3px solid #fff;
}

.profile-name-div p {
	line-height: 200px;
	vertical-align: middle;
	margin: 0px;
	font-size: 40px;
}

.analysis-div {
	margin-top: 50px;
	margin-left: 300px;
	font-size: 30px;
}

.analysis-div-section {
	border-bottom: 2px solid #FFF;
	width: 600px;
}

.analysis-div-section a {
	text-decoration: none;
}


.analysis-title p {
	margin: 0px;
	margin-top: 20px;
	margin-left: 20px;
	
}

.analysis-data p {
	font-size: 40px;
	margin: 0px;
	margin-left: 200px;
	margin-bottom: 20px;
}

.analysis-div-section p{
	transition: .5s;
}

.analysis-div-section-False:hover {
	background: #fff;
}

.analysis-div-section-False:hover p {
	color: #000;
	transition: 0.7s;
}

.small-font{
	font-size: 20px;
	color: #
}